.DS_Store
GPUImage-x/proj.iOS/GPUImage-x/GPUImage-x.xcodeproj/project.xcworkspace/xcuserdata
GPUImage-x/proj.iOS/GPUImage-x/GPUImage-x.xcodeproj/project.xcworkspace/xcshareddata
GPUImage-x/proj.iOS/sample/GPUImage-x-Sample.xcodeproj/project.xcworkspace/xcuserdata
GPUImage-x/proj.iOS/sample/GPUImage-x-Sample.xcodeproj/project.xcworkspace/xcshareddata
GPUImage-x/proj.iOS/sample/GPUImage-x-Sample.xcodeproj/xcuserdata/james.xcuserdatad
